<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <%- include('_bootstrap.ejs')%>
</head>
<body>
<%- include('_navigation.ejs')%> 
<br>
<div class="container">
   <h1>Add Product page</h1>
</div>

</body>
</html>
